---
import BaseLayout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
---

<BaseLayout title="Services - CleanPro">
  <Header />

  <section style="padding:80px; text-align:center;">
    <h1>Nos Services détaillés</h1>

    <ul style="list-style:none; padding:0; margin-top:30px;">
      <li>✔ Nettoyage de bureaux professionnels</li>
      <li>✔ Nettoyage de maisons et appartements</li>
      <li>✔ Désinfection complète des locaux</li>
      <li>✔ Nettoyage après chantier</li>
    </ul>
  </section>
</BaseLayout>
