---
import "../styles/global.css";
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
</head>

<body>
  
  <slot />

  <script is:inline>
    const reveals = document.querySelectorAll('.reveal');

    const observer = new IntersectionObserver(entries => {
      entries.forEach(entry => {
        if(entry.isIntersecting){
          entry.target.classList.add('active');
        }
      });
    });

    reveals.forEach(el => observer.observe(el));
  </script>

</body>

</html>